:root {
	--color-basic-black: #000000;
	--color-basic-blackish: #161616;
	--color-basic-transparent: rgba(0, 0, 0, 0);
	--color-basic-light-gray: #cccccc;
	--color-basic-dark-gray: #222222;
	--color-basic-whiteish: #eeeeee;
	--color-basic-white: #ffffff;
	--color-basic-green: #008700;

	/* Light theme */
	--color-theme-background: var(--color-basic-whiteish);
	--color-theme-text: var(--color-basic-blackish);
	--color-theme-lines-half: rgba(0, 0, 0, 0.125);
	--color-theme-lines: rgba(0, 0, 0, 0.25);
	--color-theme-text-link: var(--color-basic-black);
	--color-theme-input-text: var(--color-basic-blackish);
	--color-theme-input-background: var(--color-basic-white);
	--color-theme-input-background-hover: rgba(0, 0, 0, 0.0375);
	--color-theme-input-background-selected: rgba(0, 0, 0, 0.1);
	--color-theme-input-buttons: var(--color-basic-blackish);
	--color-theme-input-border: rgba(0, 0, 0, 0.25);
	--color-theme-input-shadow: rgba(0, 0, 0, 0.2);
	--color-theme-command-background: var(--color-basic-white);
	--color-theme-command-border: rgba(0, 0, 0, 0.25);
	--color-theme-command-shadow: rgba(0, 0, 0, 0.2);
	--color-theme-tag-foreground: var(--color-basic-whiteish);
	--color-theme-tag-background: var(--color-basic-dark-gray);
	--color-theme-code-background: var(--color-basic-whiteish);
	--color-theme-code-text: var(--color-basic-dark-gray);
	--color-theme-button-background: var(--color-basic-green);
	--color-theme-button-text: var(--color-basic-whiteish);
	--color-theme-button-border: #005700;

	--color-theme-error-background: rgba(255, 0, 0, 0.2);

	--opacity-tag: 0.75;
	--opacity-placeholder: 0.35;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark theme */
		--color-theme-background: var(--color-basic-blackish);
		--color-theme-text: var(--color-basic-light-gray);
		--color-theme-lines-half: rgba(255, 255, 255, 0.125);
		--color-theme-lines: rgba(255, 255, 255, 0.25);
		--color-theme-text-link: var(--color-basic-white);
		--color-theme-input-text: var(--color-basic-light-gray);
		--color-theme-input-background: var(--color-basic-dark-gray);
		--color-theme-input-background-hover: rgba(255, 255, 255, 0.0375);
		--color-theme-input-background-selected: rgba(255, 255, 255, 0.1);
		--color-theme-input-buttons: var(--color-basic-light-gray);
		--color-theme-input-border: var(--color-basic-blackish);
		--color-theme-input-shadow: rgba(0, 0, 0, 0.2);
		--color-theme-command-background: var(--color-basic-dark-gray);
		--color-theme-command-border: var(--color-basic-blackish);
		--color-theme-command-shadow: rgba(0, 0, 0, 0.2);
		--color-theme-tag-foreground: var(--color-basic-blackish);
		--color-theme-tag-background: var(--color-basic-light-gray);
		--color-theme-code-background: var(--color-basic-blackish);
		--color-theme-code-text: var(--color-basic-light-gray);
		--color-theme-button-background: var(--color-basic-green);
		--color-theme-button-text: var(--color-basic-whiteish);
		--color-theme-button-border: #005700;

		--opacity-placeholder: 0.35;
	}
}
