:root {
	--color-basic-black: #000000;
	--color-basic-blackish: #161616;
	--color-basic-transparent: rgba(0, 0, 0, 0);
	--color-basic-light-gray: #cccccc;
	--color-basic-dark-gray: #222222;
	--color-basic-whiteish: #eeeeee;
	--color-basic-white: #ffffff;

	/* Light theme */
	--color-theme-background: var(--color-basic-whiteish);
	--color-theme-text: var(--color-basic-blackish);
	--color-theme-text-link: var(--color-basic-black);
	--color-theme-input-text: var(--color-basic-blackish);
	--color-theme-input-background: var(--color-basic-white);
	--color-theme-input-background-selected: rgba(0, 0, 0, 0.1);
	--color-theme-input-buttons: var(--color-basic-blackish);
	--color-theme-input-border: rgba(0, 0, 0, 0.25);
	--color-theme-input-shadow: rgba(0, 0, 0, 0.2);

	--opacity-placeholder: 0.35;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark theme */
		--color-theme-background: var(--color-basic-blackish);
		--color-theme-text: var(--color-basic-light-gray);
		--color-theme-text-link: var(--color-basic-white);
		--color-theme-input-text: var(--color-basic-light-gray);
		--color-theme-input-background: var(--color-basic-dark-gray);
		--color-theme-input-background-selected: rgba(0, 0, 0, 0.2);
		--color-theme-input-buttons: var(--color-basic-light-gray);
		--color-theme-input-border: var(--color-basic-blackish);
		--color-theme-input-shadow: rgba(0, 0, 0, 0.2);

		--opacity-placeholder: 0.35;
	}
}
