@import "../../styles/mixins/index.css";

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	border-left: 3px solid var(--color-theme-lines);
	color: var(--color-theme-code-text);
	background-color: var(--color-theme-code-background);
	position: relative;
}

.disabledContainer {
	cursor: not-allowed;
	user-select: none;
}

.disabledOverlay {
	background-color: var(--color-theme-code-background);
	opacity: 0.2;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: all 0.3s ease-out;
}

.actionRow {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	border-bottom: 1px dotted var(--color-theme-lines-half);
	padding: 8px 10px;
	column-gap: 12px;
}

.command {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 0.5em;
	row-gap: 0.5em;
	align-items: center;
	padding: 0.8em;
	position: relative;

	@mixin type-style-code;
}
