@import "../../styles/mixins/index.css";

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 0.5em;
	row-gap: 0.5em;
	align-items: center;
	padding: 0.8em;
	border-left: 3px solid var(--color-theme-lines);
	color: var(--color-theme-code-text);
	background-color: var(--color-theme-code-background);

	@mixin type-style-code;
}
