@import "../../styles/mixins/index.css";

.container {
	@mixin type-style-title;

	display: flex;
	flex: 0 1 50%;
	color: var(--color-theme-text);
	padding: 0px var(--size-margin-common) var(--size-margin-common);
	align-items: flex-end;
}
