@import "../../styles/mixins/index.css";

.disabledContainer {
	cursor: not-allowed;
}

.button {
	@mixin type-style-body;

	display: flex;
	justify-content: center;
	text-transform: uppercase;
	outline: 0;
	margin: 0;
	padding: 0.5em 1em;
	position: relative;
	user-select: none;

	color: var(--color-theme-button-text);
	background-color: var(--color-theme-button-background);
	border-color: var(--color-theme-button-border);
	border-style: solid;

	border-width: 0 0 2px 0;

	&:active {
		border-width: 2px 0 0 0;
	}
}

.disabledButton {
	opacity: 0.5;
	pointer-events: none;
}

.backgroundProgress {
	background-color: var(--color-theme-button-border);
	opacity: 0.6;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
