@import "../../styles/mixins/index.css";

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	outline: 1px solid var(--color-theme-input-border);
	width: 200px;
	height: 2em;
	cursor: default;
	background-color: var(--color-theme-input-background);
	user-select: none;
}

.label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.errorState {
	background-color: var(--color-theme-error-background);
}
