@import "../../styles/mixins/index.css";

.container {
	position: absolute;
	width: 100%;
	top: calc(100% - var(--size-input-border-radius) + 1px);
	overflow: hidden auto;
	border-radius: var(--size-input-border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid var(--color-theme-input-border);
	background-color: var(--color-theme-input-background);
	padding: 6px 0 2px 0;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 3px var(--color-theme-input-shadow);
	max-height: calc(5 * 32px + 2px); /* 5 lines, plus paddings */
	z-index: 1000;
	scroll-behavior: smooth;
}

.entry {
	@mixin type-style-body;
	height: 2em;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: var(--color-theme-input-background-hover);
	}

	&.selected {
		background-color: var(--color-theme-input-background-selected);
	}

	.label {
		flex: 1;
		text-align: start;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.tags {
		display: flex;
		flex-direction: row;
		align-items: center;

		.tag {
			@mixin type-style-tag;
			color: var(--color-theme-tag-foreground);
			background-color: var(--color-theme-tag-background);
			border-radius: var(--size-tag-border-radius);
			padding: calc(var(--size-tag-border-radius) / 4) calc(var(--size-tag-border-radius) / 1);
			opacity: var(--opacity-tag);
			margin-inline-start: var(--size-tag-border-radius);
		}
	}
}
