@import "../../styles/mixins/index.css";

.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.box {
	background-color: var(--color-theme-code-background);
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 120px;

	@mixin for-size-small-plus {
		height: 80px;
	}

	@mixin for-size-medium-plus {
		height: 40px;
	}
}

.label {
	@mixin type-style-body;

	margin: 0 1em;
	color: var(--color-theme-text);
	text-align: left;
	white-space: nowrap;
}

.labelInfo {
	@mixin type-style-body;

	margin: 0 1em;
	color: var(--color-theme-text);
	text-align: right;
	white-space: nowrap;
}

.labelInfoEntry {
	white-space: nowrap;
}

.showWhenTiny {
	display: none;
	@mixin for-size-tiny-only {
		display: inline;
	}
}

.showWhenSmall {
	display: none;
	@mixin for-size-small-only {
		display: inline;
	}
}
.showWhenMediumPlus {
	display: none;
	@mixin for-size-medium-plus {
		display: inline;
	}
}

.foregroundBar {
	background-color: var(--color-theme-code-text);
	opacity: 0.5;
	position: absolute;
	top: 0;
	right: 100%;
	left: 0;
	bottom: 0;
	transition: right 1s ease-out;
}
