@import "../../styles/mixins/index.css";

.container {
	@mixin type-style-footer;

	display: flex;
	flex: 0 1 50%;
	color: var(--color-theme-text);
	padding: var(--size-margin-common) var(--size-margin-common) 0;
	align-items: flex-start;
}
