@import "../../styles/mixins/index.css";

.container {
	@mixin type-style-footer;

	display: flex;
	color: var(--color-theme-text);
	margin-top: var(--size-margin-common);
	padding: 0px var(--size-margin-common);
}
