@import "../../styles/mixins/index.css";

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 100px 100px;
}

.box {
	width: 100%;
	background-color: var(--color-theme-command-background);
	box-shadow: 0 0px 3px var(--color-theme-command-shadow);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border: 1px solid var(--color-theme-command-border);
	border-radius: var(--size-command-border-radius);
	padding: var(--size-margin-common) var(--size-margin-common-double);
	position: relative;

	.hr {
		width: 100%;
		height: 1px;
		margin: 0;
		background-color: var(--color-theme-lines);;
	}
}

.title {
	@mixin type-style-title;

	color: var(--color-theme-text);
	margin: 0;
	padding: var(--size-margin-common) 0;
}

.tags {
	margin-bottom: var(--size-margin-common);
}

.description {
	@mixin type-style-body;

	color: var(--color-theme-text);
	text-align: left;
	margin: 0;
	padding: var(--size-margin-common) 0;
}

.buttonRow {
	padding-top: var(--size-margin-common);
	padding-bottom: var(--size-margin-common);
	width: 100%;
	display: flex;
	justify-content: center;
	gap: var(--size-margin-common);
}

.button {
	width: 300px;
}
