@import "../../styles/mixins/index.css";

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 0px;
	background-color: var(--color-theme-command-background);

	@mixin for-size-medium-plus {
		background-color: transparent;
		padding: 80px 80px;
	}

	@mixin for-size-large-plus {
		padding: 110px 110px;
	}
}

.box {
	width: 100%;
	background-color: var(--color-theme-command-background);
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
	padding: var(--size-margin-common-half) var(--size-margin-common);

	@mixin for-size-medium-plus {
		height: auto;
		box-shadow: 0 0px 3px var(--color-theme-command-shadow);
		border: 1px solid var(--color-theme-command-border);
		border-radius: var(--size-command-border-radius);

		padding: var(--size-margin-common) var(--size-margin-common-double);
	}

	.hr {
		width: 100%;
		height: 1px;
		margin: 0;
		background-color: var(--color-theme-lines);;
	}
}

.title {
	@mixin type-style-title;

	color: var(--color-theme-text);
	margin: 0;
	padding: var(--size-margin-common-half) 0;
	text-align: left;

	margin-right: calc(var(--size-margin-common-half) + var(--size-margin-common-double));

	@mixin for-size-medium-plus {
		padding: var(--size-margin-common) 0;
		margin-right: calc(var(--size-margin-common) + var(--size-margin-common-double));
	}
}

.tags {
	margin-bottom: var(--size-margin-common);
}

.description {
	@mixin type-style-body;

	color: var(--color-theme-text);
	text-align: left;
	margin: 0;
	padding: var(--size-margin-common) 0;
}

.closeButton {
	color: var(--color-theme-text);
	display: flex;
	justify-content: center;
	outline: 0;
	border-width: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	user-select: none;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;

	top: var(--size-margin-common);
	right: var(--size-margin-common);

	@mixin for-size-medium-plus {
		top: var(--size-margin-common-double);
		right: var(--size-margin-common-double);
	}


	& .lines {
		stroke: currentColor;
		fill: transparent;
		stroke-linecap: round;
		stroke-width: 2;
	}
}

.buttonRow {
	padding-top: var(--size-margin-common);
	padding-bottom: var(--size-margin-common);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: var(--size-margin-common);
	flex-wrap: wrap;
}
