/* Basic fonts */

@define-mixin type-basic-body-regular {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 400;
}

@define-mixin type-basic-body-bold {
	font-family: "Roboto Slab", sans-serif;
	font-weight: 700;
}

/* Actual styles */

@define-mixin type-style-title {
	@mixin type-basic-body-regular;

	font-size: 20px;
	letter-spacing: 0.05em;
	line-height: 150%;
}

@define-mixin type-style-body {
	@mixin type-basic-body-regular;

	font-size: 16px;
	line-height: 150%;
}

@define-mixin type-style-footer {
	@mixin type-style-body;

	font-size: 0.75em;
}
